
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

$sans-serif: 'Raleway', sans-serif;
body{
    margin: 0;
    padding: 0;
    background: gray;
    display: flex;
    flex-direction: column;
    font-family: $sans-serif;
}
/*
    Keyframes: The keyframe settings for the pulsating beacong
                -between 0% and 100% frames are generated automatically over the length 
                of the animation time  i.e (pulsing 1s linear infinite)
*/
@-webkit-keyframes pulsing{
    /*percentage: The frame of the animation, i.e 0% is the first and 100% is the final.*/
    /*box shadow: (x, y, blur, spead radius)*/
    /*rgba(red, green, blue, opacity)*/
    0% {                   
        box-shadow: 0 0 0 0 rgba(177, 255, 74, 0.7);}
    40% {  
        box-shadow: 0 0 0 50px rgba(177, 255, 74,0);}
    80% {
        box-shadow: 0 0 0 50px rgba(177, 255, 74,0);}
    100% {
        box-shadow: 0 0 0 0 rgba(177, 255, 74,0);}
}
@-webkit-keyframes move{
    0% {margin-top: -70px;}
    10%{margin-top: -100px;}
    20%{margin-top: -70px;}
    30%{margin-top: -100px;}
    40%{margin-top: -70px;}
    50%{margin-top: -100px;
        transform: rotateY(360deg);}
    60%{margin-top: -70px;}
    70%{margin-top: -100px;}
    80%{margin-top: -70px;}
    90%{margin-top: -100px;}
    100%{margin-top: -70px;}
}
@mixin sections($url, $width, $height) {
    background-image: url($url);
    width: $width;
    height: $height;
}
@mixin overlay($color, $inWidth, $inHeight, $titleText){
    background: $color;
    width: $inWidth;
    height: $inHeight;
    & .text{
        &::before{     //text animation
            content: $titleText;
        }
    }
}
.navbar{
    background: black;
    flex: 1 1 20%;
    text-align: center;
    color: white;
    font-weight: bold;
    & .headOut{
        font-size: 3em;
    }
    & .headIn{
        @extend .headOut;
        font-size: 4em;
        color: gray;
    }
    
    &::before{
        display: block;
        background: white;
        content: '.';
        color: white;
        margin-top: 1%;
    }
    &::after{
        display: block;
        background: white;
        content: '.';
        color: white
    }
}


/*-------------------------------------------------------------------------------------
CLASS HEIRARCHY:
                .hover: Controls the rectangular overlay 
                    .center: The center of the beacon
                        .beacon: Controls the attributes/look of the animated beacon
----------------------------------------------------------------------------------------*/
    .hover{
       
        opacity: 0;
        
        & .text{
            text-align: center;
           // background: gray;
            font-size: 24pt;
            &::before{     //text animation
                visibility: hidden;
                opacity: 0;
                //background: black;
                font-weight: bold;
                content: '';
                transition: visibility 1s, opacity 1s ease-in-out;
            }
        }
        
        
        & .center{
            /*---------------------------------------------
            .Center class: serves as the center point of the beacon class. 
            This will make the position of the beacon absolute, and not change with
            page resizing.
            -----------------------------------------------*/
            position: absolute;
            & .beacon{
                /*----------------------------------------------------------------------
                Beacon Class: default setting for each beacon. These can be changed 
                one-by-one using specific ids
                -----------------------------------------------------------------------*/
                width: 25px;
                height: 25px;
                //background: rgba(96, 189, 21, 0.5);
                background-image: url(locationpoint.png);
                background-size: cover;
                border-radius: 50%;
                //line-height: 100px;
            }
        }
        &:hover{
            /*------------------------------------------------
               .hover: hover pseudoclass: makes the overlay appear on cursor hover.
               ***must be set to 1 opacity, because of the beacon's requirement to be  completely solid.
                   .beacon is a child of .hover, which means that .beacon's max opacity is whatever this is set to.
                   Each overlay's individual opacity is set in their respective background color rgba(r,b,g, opacity).
           -----------------------------------------------*/
           cursor: pointer;
           opacity: 1;
           color: #ffffff;
           font-size: 16pt; 
           & .center{
               opacity: 1;
           }
           & .beacon{
               animation: pulsing 1s linear infinite;
           }
           & .text::before{
                visibility: visible;
                opacity: 1;
           }
       }
    }
/*-------------------------------------------------------------------------------------
Map Section Divs:
-sectionOut = The map image and dimensions of the section
-sectionIn  = The colored overlay. 
                -Hover options are controlled by the .hover class above.
                -Since the child classes of .hover are the center and beacon classes, 
                we have to use rgba to set the background opacity without
                effecting the beacon opacity.
---------------------------------------------------------------------------------------*/
    .map{
        margin-left: 10%;
        margin-right: 10%;
        //padding: 20%;
        padding-top: 1%;
        padding-left: 10%;
        padding-right: 10%;
        flex: 1 1 80%;
        & table{
            border: 2px solid salmon;
        }
        
        & #morningsideOut{
            @include sections("./images/morningside_01.gif", 327px, 222px);
            & #morningsideIn{
                @include overlay(rgba(255,0,0,.5), 327px, 222px, "Morningside");
            }
        }
        & #harlemOut{
            @include sections("./images/harlem_02.gif", 584px, 222px);
            & #harlemIn{
                @include overlay(rgba(0,128,0,.5), 584px, 222px, "Harlem");
            }
        }
        & #upperwestOut{
            @include sections("./images/upperwest_03.gif",327px, 952px);
            & #upperwestIn{
                @include overlay(rgba(255,165,0,.5), 327px,952px, "Upper West");
            }
        }
        & #centralOut{
            @include sections("./images/central_04.gif", 218px, 952px);
            & #centralIn{
                @include overlay(rgba(199, 88, 106, .50), 218px, 952px, "Central Park");
            }
        }
        & #uppereastOut{
            @include sections("./images/uppereast_05.gif", 366px, 952px);
            & #uppereastIn{
                @include overlay(rgba(245, 119, 47, 0.5), 366px, 952px, "Upper East");
            }
        }
        & #hellsOut{
            @include sections("./images/hells_06.gif", 327px, 537px);
            & #hellsIn{
                @include overlay(rgba(64, 224, 208, 0.5), 327px, 537px, "Hells Kitchen");
            }
        }
        & #midtownOut{
            @include sections("./images/midtowntimesq_07.gif", 218px, 537px);
            & #midtownIn{
                @include overlay(rgba(255, 99, 71, 0.5), 218px, 537px, "Midtown");
            }
        }
        & #turtleOut{
            @include sections("./images/turtlebaymurrayhills_08.gif", 366px, 537px);
            & #turtleIn{
                @include overlay(rgba(176, 224, 230, 0.5), 366px, 537px,"Turtle Bay");
            }
        }
        & #sohoOut{
            @include sections("./images/chelseasoho_09.gif", 545px, 317px);
            & #sohoIn{
                @include overlay(rgba(214, 214, 29, 0.5), 545px, 317px, "Soho");
            }
        }
        & #lowereastOut{
            @include sections("./images/lowereast_10.gif", 366px, 317px);
            & #lowereastIn{
                @include overlay(rgba(255, 105, 180, 0.5), 366px, 317px, "Lower East");
            }
        }
        & #waterOut{
            @include sections("./images/water_11.gif", 231px, 427px);
            & #waterIn{
                @include overlay(rgba(89, 89, 230, 0.5), 231px, 427px, '');
            }
        }
        & #financialOut{
            @include sections("./images/financial_12.gif", 680px, 427px);
            & #financialIn{
                @include overlay(rgba(255, 217, 0, 0.5), 680px, 427px, "Financial District");
            }
        }    
    }
/* Map Beacons---------------------------------------------------------------------------------------------------------------------
    beaconCent: The container which serves as the center point. Position is set with this
    beacon: options specific to each beacon are set with this i.e color.

    Template:
            -Park Beacon Center
                -Park Beacon
                    -Park Beacon::before (for the hover animation)
-----------------------------------------------------------------------------------------------------------------------------------
*/ 
    @mixin bsettings($Burl, $translatex, $translatey, $content) {
        //background: rgb(21, 255, 0);
        &::before{
                /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
            -----------------------------------------------------------*/
            background: gray;
            position: absolute;
            top: 0;
            left: 0;
            width: 0px;
            height: 0px;
            opacity: 0;
            font-size: 24pt;
            font-weight: 900;
            text-align: center;
            content: $content; 
            transition: all .5s ease-in-out;  
        }
        &:hover{
            //hover behavior of 
            &:before{
                opacity: 1;
                width: 300px;
                height: 300px;
                -webkit-text-stroke: 1px black;
                background-image: url($Burl);
                background-size: cover;
                border: 4px solid salmon;
                transform: translate($translatex * 1% , $translatey *1%);
            }
        }
    }
    #parkBeaconCent{
        transform: translate(100px, 0px);
        & #parkBeacon{
            @include bsettings("./images/lasker.jpeg", -50 , -50, 'Lasker Rink')
        }
    }
    #westBeaconCent{
        transform: translate(250px,730px);
        & #westBeacon{
            @include bsettings("./images/lincolncent.jpg", -5 , -15, 'Lincoln Center');
            /*
            &::before{
                font-size: 12pt;
            }
            */
        }
    }
    #midBeaconCent{
        transform: translate(150px, 400px);
        & #midBeacon{
            @include bsettings("./images/empirestate.jpeg", -50 , -50, 'Empire State Building');
            &::before{
                font-size: 20pt;
                color: black;
                background-position-x: -70px;
            }
        }
    }
    #morningsideBeaconCent{
        transform: translate(150px, 10px);
        & #morningsideBeacon{
            @include bsettings("./images/lasker.jpeg", 5 , 10, 'Columbia University');
        }
    }
    #harlemBeaconCent{
        transform: translate(180px, 0px);
        & #harlemBeacon{
            @include bsettings("./images/harlem_yeunglingbrewery.jpg", 5 , 10, 'Yuengling Brewery');
        }
    }
    #uppereastBeaconCent{
        transform: translate(0px, 300px);
        & #uppereastBeacon{
            @include bsettings("./images/uppereastpop.jpg", -50 , -50, 'Guggenheim Museum');
        }
    }
    #hellsBeaconCent{
        transform: translate(100px, 300px);
        & #hellsBeacon{
            @include bsettings("./images/hellspop2.jpg", -50 , -50, 'Intrepid Museum');
        }
    }
    #turtleBeaconCent{
        transform: translate(100px, 300px);
        & #turtleBeacon{
            @include bsettings("./images/turtlebaypop2.jpg", -50 , -50, 'Chrysler Building');
        }
    }
    #sohoBeaconCent{
        transform: translate(100px, 0px);
        & #sohoBeacon{
            @include bsettings("./images/chelseapop.jpg", -50 , -50, 'Chelsea Market');
        }
    }
    #lowereastBeaconCent{
        transform: translate(300px, 100px);
        & #lowereastBeacon{
            @include bsettings("./images/lowereastpop2.jpg", -50 , -50, 'East Village');
        }
    }
    #financialBeaconCent{
        transform: translate(300px, 300px);
        & #financialBeacon{
            @include bsettings("./images/financialpop.jpg", -50 , -50, 'Wall Street');
            &::before{
                font-size: 20pt;
                color: black;
                background-position-x: -70px;
            }
        }
    }




