@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
body {
  margin: 0;
  padding: 0;
  background: url(./images/backgroundrepeat.jpg);
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

/*
    Keyframes: The keyframe settings for the pulsating beacong
                -between 0% and 100% frames are generated automatically over the length 
                of the animation time  i.e (pulsing 1s linear infinite)
*/
@-webkit-keyframes pulsing {
  /*percentage: The frame of the animation, i.e 0% is the first and 100% is the final.*/
  /*box shadow: (x, y, blur, spead radius)*/
  /*rgba(red, green, blue, opacity)*/
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px transparent;
  }
  80% {
    box-shadow: 0 0 0 50px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(13, 14, 12, 0);
  }
}

.navbar {
  background: black;
  flex: 1 1 20%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.navbar .headOut, .navbar .headIn {
  font-size: 3em;
}

.navbar .headIn {
  font-size: 4em;
  color: gray;
}

.navbar::before {
  display: block;
  background: white;
  content: '.';
  color: white;
  margin-top: 1%;
}

.navbar::after {
  display: block;
  background: white;
  content: '.';
  color: white;
}

/*-------------------------------------------------------------------------------------
CLASS HEIRARCHY:
                .hover: Controls the rectangular overlay 
                    .center: The center of the beacon
                        .beacon: Controls the attributes/look of the animated beacon
----------------------------------------------------------------------------------------*/
.hover {
  opacity: 0;
}

.hover .text {
  text-align: center;
  font-size: 24pt;
}

.hover .text::before {
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  content: '';
  transition: visibility 1s, opacity 1s ease-in-out;
}

.hover .center {
  /*---------------------------------------------
            .Center class: serves as the center point of the beacon class. 
            This will make the position of the beacon absolute, and not change with
            page resizing.
            -----------------------------------------------*/
  position: absolute;
}

.hover .center .beacon {
  /*----------------------------------------------------------------------
                Beacon Class: default setting for each beacon. These can be changed 
                one-by-one using specific ids
                -----------------------------------------------------------------------*/
  width: 25px;
  height: 25px;
  background-image: url(locationpoint.png);
  background-size: cover;
  border-radius: 50%;
}

.hover:hover {
  /*------------------------------------------------
               .hover: hover pseudoclass: makes the overlay appear on cursor hover.
               ***must be set to 1 opacity, because of the beacon's requirement to be  completely solid.
                   .beacon is a child of .hover, which means that .beacon's max opacity is whatever this is set to.
                   Each overlay's individual opacity is set in their respective background color rgba(r,b,g, opacity).
           -----------------------------------------------*/
  cursor: pointer;
  opacity: 1;
  color: #ffffff;
  -webkit-text-stroke: 1px black;
  font-size: 16pt;
}

.hover:hover .center {
  opacity: 1;
}

.hover:hover .beacon {
  animation: pulsing 1s linear infinite;
}

.hover:hover .text::before {
  visibility: visible;
  opacity: 1;
}

/*-------------------------------------------------------------------------------------
Map Section Divs:
-sectionOut = The map image and dimensions of the section
-sectionIn  = The colored overlay. 
                -Hover options are controlled by the .hover class above.
                -Since the child classes of .hover are the center and beacon classes, 
                we have to use rgba to set the background opacity without
                effecting the beacon opacity.
---------------------------------------------------------------------------------------*/
.map {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  flex: 1 1 80%;
}

.map table {
  border: 2px solid salmon;
}

.map #morningsideOut {
  background-image: url("./images/morningside_01.gif");
  width: 327px;
  height: 222px;
}

.map #morningsideOut #morningsideIn {
  background: rgba(255, 0, 0, 0.5);
  width: 327px;
  height: 222px;
}

.map #morningsideOut #morningsideIn .text::before {
  content: "Morningside";
}

.map #harlemOut {
  background-image: url("./images/harlem_02.gif");
  width: 584px;
  height: 222px;
}

.map #harlemOut #harlemIn {
  background: rgba(0, 128, 0, 0.5);
  width: 584px;
  height: 222px;
}

.map #harlemOut #harlemIn .text::before {
  content: "Harlem";
}

.map #upperwestOut {
  background-image: url("./images/upperwest_03.gif");
  width: 327px;
  height: 952px;
}

.map #upperwestOut #upperwestIn {
  background: rgba(255, 165, 0, 0.5);
  width: 327px;
  height: 952px;
}

.map #upperwestOut #upperwestIn .text::before {
  content: "Upper West";
}

.map #centralOut {
  background-image: url("./images/central_04.gif");
  width: 218px;
  height: 952px;
}

.map #centralOut #centralIn {
  background: rgba(199, 88, 106, 0.5);
  width: 218px;
  height: 952px;
}

.map #centralOut #centralIn .text::before {
  content: "Central Park";
}

.map #uppereastOut {
  background-image: url("./images/uppereast_05.gif");
  width: 366px;
  height: 952px;
}

.map #uppereastOut #uppereastIn {
  background: rgba(245, 119, 47, 0.5);
  width: 366px;
  height: 952px;
}

.map #uppereastOut #uppereastIn .text::before {
  content: "Upper East";
}

.map #hellsOut {
  background-image: url("./images/hells_06.gif");
  width: 327px;
  height: 537px;
}

.map #hellsOut #hellsIn {
  background: rgba(64, 224, 208, 0.5);
  width: 327px;
  height: 537px;
}

.map #hellsOut #hellsIn .text::before {
  content: "Hells Kitchen";
}

.map #midtownOut {
  background-image: url("./images/midtowntimesq_07.gif");
  width: 218px;
  height: 537px;
}

.map #midtownOut #midtownIn {
  background: rgba(255, 99, 71, 0.5);
  width: 218px;
  height: 537px;
}

.map #midtownOut #midtownIn .text::before {
  content: "Midtown";
}

.map #turtleOut {
  background-image: url("./images/turtlebaymurrayhills_08.gif");
  width: 366px;
  height: 537px;
}

.map #turtleOut #turtleIn {
  background: rgba(176, 224, 230, 0.5);
  width: 366px;
  height: 537px;
}

.map #turtleOut #turtleIn .text::before {
  content: "Turtle Bay";
}

.map #sohoOut {
  background-image: url("./images/chelseasoho_09.gif");
  width: 545px;
  height: 317px;
}

.map #sohoOut #sohoIn {
  background: rgba(214, 214, 29, 0.5);
  width: 545px;
  height: 317px;
}

.map #sohoOut #sohoIn .text::before {
  content: "Soho";
}

.map #lowereastOut {
  background-image: url("./images/lowereast_10.gif");
  width: 366px;
  height: 317px;
}

.map #lowereastOut #lowereastIn {
  background: rgba(255, 105, 180, 0.5);
  width: 366px;
  height: 317px;
}

.map #lowereastOut #lowereastIn .text::before {
  content: "Lower East";
}

.map #waterOut {
  background-image: url("./images/water_11.gif");
  width: 231px;
  height: 427px;
}

.map #waterOut #waterIn {
  background: rgba(89, 89, 230, 0.5);
  width: 231px;
  height: 427px;
}

.map #waterOut #waterIn .text::before {
  content: "";
}

.map #financialOut {
  background-image: url("./images/financial_12.gif");
  width: 680px;
  height: 427px;
}

.map #financialOut #financialIn {
  background: rgba(255, 217, 0, 0.5);
  width: 680px;
  height: 427px;
}

.map #financialOut #financialIn .text::before {
  content: "Financial District";
}

/* Map Beacons---------------------------------------------------------------------------------------------------------------------
    beaconCent: The container which serves as the center point. Position is set with this
    beacon: options specific to each beacon are set with this i.e color.

    Template:
            -Park Beacon Center
                -Park Beacon
                    -Park Beacon::before (for the hover animation)
-----------------------------------------------------------------------------------------------------------------------------------
*/
#parkBeaconCent {
  transform: translate(100px, 0px);
}

#parkBeaconCent #parkBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Lasker Rink";
  transition: all .5s ease-in-out;
}

#parkBeaconCent #parkBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/lasker.jpeg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(-50%, -50%);
}

#westBeaconCent {
  transform: translate(250px, 730px);
}

#westBeaconCent #westBeacon {
  /*
            &::before{
                font-size: 12pt;
            }
            */
}

#westBeaconCent #westBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Lincoln Center";
  transition: all .5s ease-in-out;
}

#westBeaconCent #westBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/lincolncent.jpg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(-5%, -15%);
}

#midBeaconCent {
  transform: translate(150px, 400px);
}

#midBeaconCent #midBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Empire State Building";
  transition: all .5s ease-in-out;
}

#midBeaconCent #midBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/empirestate.jpeg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(-50%, -50%);
}

#midBeaconCent #midBeacon::before {
  font-size: 20pt;
  color: black;
  background-position-x: -70px;
}

#morningsideBeaconCent {
  transform: translate(150px, 10px);
}

#morningsideBeaconCent #morningsideBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Columbia University";
  transition: all .5s ease-in-out;
}

#morningsideBeaconCent #morningsideBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/ColumbiaUniversity.jpg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(5%, 10%);
}

#harlemBeaconCent {
  transform: translate(180px, 0px);
}

#harlemBeaconCent #harlemBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Yuengling Brewery";
  transition: all .5s ease-in-out;
}

#harlemBeaconCent #harlemBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/harlem_yeunglingbrewery.jpg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(5%, 10%);
}

#uppereastBeaconCent {
  transform: translate(0px, 300px);
}

#uppereastBeaconCent #uppereastBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Guggenheim Museum";
  transition: all .5s ease-in-out;
}

#uppereastBeaconCent #uppereastBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/uppereastpop.jpg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(-50%, -50%);
}

#hellsBeaconCent {
  transform: translate(100px, 300px);
}

#hellsBeaconCent #hellsBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Intrepid Museum";
  transition: all .5s ease-in-out;
}

#hellsBeaconCent #hellsBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/hellspop2.jpg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(-50%, -50%);
}

#turtleBeaconCent {
  transform: translate(100px, 300px);
}

#turtleBeaconCent #turtleBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Chrysler Building";
  transition: all .5s ease-in-out;
}

#turtleBeaconCent #turtleBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/turtlebaypop2.jpg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(-50%, -50%);
}

#sohoBeaconCent {
  transform: translate(100px, 0px);
}

#sohoBeaconCent #sohoBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Chelsea Market";
  transition: all .5s ease-in-out;
}

#sohoBeaconCent #sohoBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/chelseapop.jpg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(-50%, -50%);
}

#lowereastBeaconCent {
  transform: translate(300px, 100px);
}

#lowereastBeaconCent #lowereastBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "East Village";
  transition: all .5s ease-in-out;
}

#lowereastBeaconCent #lowereastBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/lowereastpop2.jpg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(-50%, -50%);
}

#financialBeaconCent {
  transform: translate(300px, 300px);
}

#financialBeaconCent #financialBeacon::before {
  /*----------------------------------------------------------
                PseudoElement ::before allows us to use a "clone" of the
                        existing class to maneuver with :hover actions.
                 -----------------------------------------------------------*/
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  content: "Wall Street";
  transition: all .5s ease-in-out;
}

#financialBeaconCent #financialBeacon:hover:before {
  opacity: 1;
  width: 300px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  background-image: url("./images/financialpop.jpg");
  background-size: cover;
  border: 4px solid salmon;
  transform: translate(-50%, -50%);
}

#financialBeaconCent #financialBeacon::before {
  font-size: 20pt;
  color: black;
  background-position-x: -70px;
}
/*# sourceMappingURL=alternate.css.map */